{% extends "base.html" %}

{% block main %}
<main class="flex-grow-1">
  <div class="container-lg mt-3">
    <h1>{{ _("URL list") }}</h1>

    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="urls">
	<thead>
	  <tr>
	  <th>ID</th>
	    <th>{{ _("URL name") }}</th>
	    <th>{{ _("Last check") }}</th>
	    <th>{{ _("Status code") }}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for url_desc in urls %}
	  <tr>
	    <td>{{ url_desc[0] }}</td>
	    <td><a href="{{ url_for('show', id=url_desc[0])}}">{{ url_desc[1] }}</a></td>
	    <td>{{ url_desc[2] }}</td>
	    <td>{{ url_desc[3] }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</main>
{% endblock %}
