{% extends "base.html" %}

{% block main %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

<main class="flex-grow-1">
  <div class="container-lg mt-3">
    <h1>{{ _("URL") }}: {{ url_desc[1] }}</h1>

    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="url">
	<tbody>
	  <tr>
	  <td>ID</td>
	    <td>{{ url_desc[0] }}</td>
	  </tr>
	  <tr>
	    <td>{{ _("URL name") }}</td>
	    <td>{{ url_desc[1] }}</td>
	  </tr>
	  <tr>
	    <td>{{ _("Created at") }}</td>
	    <td> {{ url_desc[2].strftime('%Y-%m-%d') }} </td>
	  </tr>
	</tbody>
      </table>
    </div>

    <h2 class="mt-5 mb-3">{{ _("Checks") }}</h2>
    <form method="post" action="{{ url_for('check', id=url_desc[0]) }}">
      <input type="submit" class="btn btn-primary" value="{{ _("Run check") }}">
    </form>

    <div>
      <table class="table table-bordered table-hover mt-2" data-test="checks">
	<thead>
	  <tr>
	  <th>ID</th>
	    <th>{{ _("Response code") }}</th>
	  <th>h1</th>
	    <th>title</th>
	    <th>description</th>
	    <th>{{ _("Created at") }}</th>
	  </tr>
	</thead>
	<tbody>
	  {% if checks %}
	  {% for check in checks %}
	  <tr>
	    {% for value in check %}
	    <td>{{ value }}</td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	  {% endif %}
	</tbody>
      </table>
    </div>
</main>
{% endblock %}
